name: Nifty-Alarm

on:
  workflow_dispatch: # 수동 실행 버튼

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: 파이썬 설치
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: 필요한 도구 설치
        run: pip install yfinance requests
      - name: 실행
        run: python main.py
